/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #3e0459, #fff); 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #fff;
 } 
 


.faq-container {
    width: 90%;
    max-width: 400px;
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.faq-title {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #3c1053;
}

/* FAQ Styles */
.faq {
    margin-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.faq:last-child {
    border-bottom: none;
}

.faq input {
    display: none;
}     



.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    padding: 15px 0;
    color: #3c1053;
    position: relative;
}

.faq-icon {
    font-size: 1.2rem;
    font-weight: bold;
    color: #3a2b34;
    transition: transform 0.3s ease;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    padding: 0;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
    color: #555;
    font-size: 0.9rem;
    line-height: 1.5;
}

/* Show Answer When Checked */
.faq input:checked ~ .faq-answer {
    max-height: 150px;
    padding: 10px 0;
}

/* Change Icon on Expand */
.faq input:checked + .faq-question .faq-icon {
    transform: rotate(45deg);
    color: #3c1053;
}

/* Responsive Design */
@media (min-width: 768px) {
    .faq-container {
        max-width: 600px;
    }
}
